<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>我在公司已经做技术员两年了，我这份工作平时很少跟女性接触，一直都没女朋友</string>
		<key>time</key>
		<string>前天20:00</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>两个月前，公司请了一个新的前台，长得不错，我们也很投契，我就去追求她</string>
		<key>time</key>
		<string>前天20:00</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>没什么难度就追到了</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>恭喜呢</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我开始以为这就是我人生的新开始，不过人生又怎么可能一帆风顺</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是关于她前男友的问题吗？</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是经济问题</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我也看了她的工资，真的少得可怜，只有1900</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我的工资比她多</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>这有什么问题呢？</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你觉得会不会有一种女人，跟男人在一起，其实只是为了他的钱？</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>因为她的工资很低，她我和谈恋爱，很可能是因为我的钱</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你觉得她是为了你的钱，她平时花的厉害吗？</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>比较厉害，经常买衣服，鞋子</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>她管你要过钱吗？</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>她一个月只有1900，如果不是因为跟着我，生活是没有现在这种质量的</string>
		<key>time</key>
		<string>前天20:04</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>既然你爱她，又何必在乎为她花一点儿钱呢？</string>
		<key>time</key>
		<string>前天20:06</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>而且两个人在一起，就是要能承受对方的人生，包括经济问题</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>而且两个人之间，不是说谁出钱多谁就吃亏的，而是两个人是否都是真心的经营这段感情。以后你们结婚生小孩，她可能完全完全失去经济能力，你要一个人赚钱养活她</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我不介意照顾她，我只是想确定她不是因为我的收入比较高而接近我</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你们恋爱多久了</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>一个多月</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>有结婚的意向吗？</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我们都是为了结婚才在一起的，不是玩弄感情的人。</string>
		<key>time</key>
		<string>昨天18:31</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>如果她是和我一辈子的，我的收入比她多，照顾她，我也不会介意</string>
		<key>time</key>
		<string>昨天18:32</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>这就简单啦</string>
		<key>time</key>
		<string>昨天18:33</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你就跟她来一个存钱计划</string>
		<key>time</key>
		<string>昨天18:35</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>每次送她衣服之类的东西，你就把相同金额的钱存起来。告诉她，这是用来结婚买房子用的钱。</string>
		<key>time</key>
		<string>昨天20:06</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>如果她是打算和你一辈子的，一定会很开心的。</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你是说，我出钱送她东西，还要自己拿钱出来存？</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>嗯</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>说不定她也会很努力的省下一点钱和你一起存</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>才1900的工资，要省也省不到多少</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>起码你会知道她是有诚意和你过一辈子的</string>
		<key>time</key>
		<string>昨天20:08</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>最重要的是那份心。况且你的收入比较高，对这段关系很有利。虽然这样说的好像很势利，但事实上，据统计，男人的工资比女人高，会过得比较美满。</string>
		<key>time</key>
		<string>昨天20:08</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我也相信她不是那种为了钱财接近我的女人。</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我年纪也不小了，这是我第一次恋爱，所以希望是真心的。</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你收那么高，长得又帅，恋爱应该没负担啦</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你应该算是业界精英吧</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是吧</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你可不可以告诉我你的具体收？</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>可以的</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>2102</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>元</string>
		<key>time</key>
		<string>昨天20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>税后</string>
		<key>time</key>
		<string>昨天20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>妈的智障！</string>
		<key>time</key>
		<string>昨天20:11</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
